include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="Cache-Control" content="max-age=31536000, must-revalidate")
    meta(name="description" content="Описание страницы сайта.")
    link(href="https://img.icons8.com/pastel-glyph/64/000000/hearts.png" rel="shortcut icon" type="image/x-icon")
    title Site name | main page
  body
    .wrapper
      .maincontent
        //- +image('content/user.jpg', 'user-pic', 'Описание картинки')
        //- +icon('link', 'link-class')
        //- .icon-bg