footer.footer
  .container.footer__container
    .footer__top
      .footer__language
        a.footer__language-select(href="#")
          .footer__language-select-text Русский 
          ul.footer__language-dropdown
            li.footer__language-dropdown__item.footer__language-dropdown__item--active Русский
            li.footer__language-dropdown__item English
            li.footer__language-dropdown__item Chinese
    .footer__main
      .footer__left-column
        .footer__logo
          .footer__logo-text WEBIRAY
          +icon('logo', 'footer__logo-icon')
        .footer__links
          .footer__menu
            a.footer__menu-item(href="#") Дизайн-системы
            a.footer__menu-item(href="#") Веб сайты
            a.footer__menu-item(href="#") Банковские системы
            a.footer__menu-item(href="#") Мобильные приложения
            a.footer__menu-item(href="#") Webiray VISION
            a.footer__menu-item(href="#") Webiray Vebinars
            a.footer__menu-item(href="#") Webiray Line
            a.footer__menu-item(href="#") Webiray Sport
          .footer__menu.footer__menu--nav
            a.footer__menu-item(href="#") О компании
            a.footer__menu-item(href="#") Реквизиты
            a.footer__menu-item(href="#") Партнеры
            a.footer__menu-item(href="#") Новости
            a.footer__menu-item(href="#") Контакты
            a.footer__menu-item(href="#") Стоимость
            a.footer__menu-item(href="#") Политика конфиденциальности
      .footer__right-column
        .footer__contacts
          .footer__contacts-company ООО "Новые решения"
          .footer__contacts-list
            a.footer__contacts-item(href="mailto:maxnikulnikov@gmail.com")
              +icon('mail', 'footer__contacts-item-icon')
            a.footer__contacts-item(href="tel:+79818973635")
              +icon('phone', 'footer__contacts-item-icon')
            a.footer__contacts-item(href="#")
              +icon('viber', 'footer__contacts-item-icon footer__contacts-item-icon--viber')
            a.footer__contacts-item(href="#")
              +icon('whatsup', 'footer__contacts-item-icon footer__contacts-item-icon--whatsup')
        .footer__socials
          a.footer__socials-item(href="https://vk.com/max_nikulnikov")
              +icon('vk', 'footer__socials-item-icon')
          a.footer__socials-item(href="https://www.facebook.com/profile.php?id=100001633859149")
            +icon('facebook', 'footer__socials-item-icon')
          a.footer__socials-item(href="https://www.instagram.com/maxnikulnikov/")
            +icon('insta', 'footer__socials-item-icon')
          a.footer__socials-item(href="#")
            +icon('youtube', 'footer__socials-item-icon footer__socials-item-icon--youtube')
    .footer__bottom
      ul.footer__authors
        li.footer__authors-item
          p.footer__authors-item-text © 2019 All rights reserved. 
          a.footer__authors-item-link(href="#") Webiraylab.com
        li.footer__authors-item
          p.footer__authors-item-text Designed by 
          a.footer__authors-item-link(href="#") Missoff Digital Design Studio
        li.footer__authors-item
          p.footer__authors-item-text Developed by
          a.footer__authors-item-link(href="https://github.com/maxnhub") Max Nikulnikov
      a.footer__scrollup(href="#")
        +icon('arrowup', 'footer__scrollup-icon')