header.header
  .header__main
    .container.header__container
      .header__logo
        .header__logo-text WEBIRAY
        +icon('logo', 'header__logo-icon')
      .header__div
      .header__menu
        a.header__menu-link(href="#") О компании
        a.header__menu-link(href="#") Реквизиты
        a.header__menu-link(href="#") Стоимость
        a.header__menu-link(href="#") Партнеры
        a.header__menu-link(href="#") Новости
        a.header__menu-link(href="#") Контакты
      .content__language
        a.content__language-select(href="#")
          .content__language-select-text Русский 
          ul.content__language-dropdown
            li.content__language-dropdown__item.content__language-dropdown__item--active Русский
            li.content__language-dropdown__item English
            li.content__language-dropdown__item Chinese
  .header__nav
    .container.header__container
      ul.header__nav-menu
        li.header__nav-menu-item.header__nav-menu-item--design Дизайн-системы
          .header__drop.header__drop--design
            .container.header__container
              .header__drop-menu
                a.header__drop-menu-item(href="#")
                  +icon('vision', 'header__drop-menu-icon')
                  p.header__drop-menu-text Автоматизация въезда Webiray VISION
                a.header__drop-menu-item(href="#")
                  +icon('vebinars', 'header__drop-menu-icon')
                  p.header__drop-menu-text Сервис для вебинаров Webiray Vebinars
                a.header__drop-menu-item(href="#")
                  +icon('sport', 'header__drop-menu-icon')
                  p.header__drop-menu-text Автоматизация Webiray Sport
                a.header__drop-menu-item(href="#")
                  +icon('line', 'header__drop-menu-icon')
                  p.header__drop-menu-text Электронная очередь Webiray Line
        li.header__nav-menu-item.header__nav-menu-item--pages Веб сайты
          .header__drop.header__drop--pages
            .container.header__container
              .header__drop-menu
                a.header__drop-menu-item(href="#")
                  +image('content/tutspacolor.png', 'header__drop-menu-pic')
                  p.header__drop-menu-text Кейс tutSPA
                a.header__drop-menu-item(href="#")
                  +image('content/telecomcolor.png', 'header__drop-menu-pic')
                  p.header__drop-menu-text Кейс XTelecom
                a.header__drop-menu-item(href="#")
                  +image('content/dreamlogocolor.png', 'header__drop-menu-pic')
                  p.header__drop-menu-text Кейс Мечта
                a.header__drop-menu-item(href="#")
                  +icon('webiray', 'header__drop-menu-icon header__drop-menu-icon--web')
                  p.header__drop-menu-text Кейс Webiray
        li.header__nav-menu-item.header__nav-menu-item--apps Мобильные приложения
          .header__drop.header__drop--apps
            .container.header__container
              .header__drop-menu
                a.header__drop-menu-item(href="#")
                  +image('content/thecolorcolor.png', 'header__drop-menu-pic')
                  p.header__drop-menu-text Кейс The color
                a.header__drop-menu-item(href="#")
                  +image('content/telecomcolor.png', 'header__drop-menu-pic')
                  p.header__drop-menu-text Кейс XTelecom
                a.header__drop-menu-item(href="#")
                  +image('content/payskgcolor.png', 'header__drop-menu-pic')
                  p.header__drop-menu-text Кейс PaysKG
                a.header__drop-menu-item(href="#")
                  +image('content/kalahcolor.png', 'header__drop-menu-pic')
                  p.header__drop-menu-text Кейс Kalah
        li.header__nav-menu-item.header__nav-menu-item--banks Банковские системы
          .header__drop.header__drop--banks
            .container.header__container
              .header__drop-menu
                a.header__drop-menu-item(href="#")
                  +icon('interneteq', 'header__drop-menu-icon')
                  p.header__drop-menu-text Интернет-эквайринг
                a.header__drop-menu-item(href="#")
                  +icon('torgeq', 'header__drop-menu-icon')
                  p.header__drop-menu-text Торговый эквайринг
                a.header__drop-menu-item(href="#")
                  +icon('terminal', 'header__drop-menu-icon')
                  p.header__drop-menu-text Платежный терминал
                a.header__drop-menu-item(href="#")
                  +icon('platezhy', 'header__drop-menu-icon')
                  p.header__drop-menu-text Прием платежей